* {
    box-sizing: border-box;
}
.App {
    max-width: 75%;
    margin: 0 auto;
}
p {
    text-align: center;
    font-weight: 500;
}
input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}
button {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    float: right;
}
button:hover {
    background-color: lightgray;
    color: black;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    overflow: auto;
}

textarea {
    height: 300px;
}